<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="biz.zenpets.users">

    <permission
        android:name="biz.zenpets.users.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="biz.zenpets.users.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:name=".utils.AppPrefs"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/ZenPets"
        tools:replace="android:allowBackup, android:supportsRtl, android:theme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LOGIN -->
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Splash"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- LANDING -->
        <activity
            android:name=".landing.LandingActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".dashboard.NewLandingActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- PROFILE -->
        <activity
            android:name=".details.profile.ProfileDetails"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".creator.profile.ProfileEditor"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".modifier.profile.ProfileModifier"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- USER PETS -->
        <activity
            android:name=".user.pets.UserPets"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".creator.pet.NewPetCreator"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".details.pets.PetDetailsNew"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- VACCINATION RECORDS -->
        <activity
            android:name=".creator.pet.VaccinationCreator"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".modifier.pet.VaccinationRecordModifier"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".details.pets.vaccinations.AllVaccinationsActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- FILTER VACCINATION RECORDS -->
        <activity
            android:name=".utils.helpers.classes.FilterVaccinesTypes"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- PET MEDICAL RECORDS -->
        <activity
            android:name=".creator.pet.MedicalRecordCreator"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".modifier.pet.MedicalRecordModifier"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- PER PRESCRIPTION RECORDS -->
        <activity
            android:name=".modifier.pet.PrescriptionRecordModifier"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- FILTER MEDICAL RECORDS -->
        <activity
            android:name=".utils.helpers.classes.FilterRecordTypes"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- USER APPOINTMENTS -->
        <activity
            android:name=".user.appointments.UserAppointments"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- USER ADOPTIONS -->
        <activity
            android:name=".user.adoptions.UserAdoptions"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".creator.adoption.AdoptionCreator"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".creator.adoption.AdoptionCreatorNew"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".details.adoptions.UserAdoptionDetails"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".adoptions.images.AdoptionGalleryActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan" />

        <!-- USER QUESTIONS -->
        <activity
            android:name=".user.questions.UserQuestions"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".details.questions.QuestionDetails"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".creator.question.QuestionCreator"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".utils.helpers.classes.FilterQuestionsActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- DOCTORS -->
        <activity
            android:name=".doctors.DoctorsList"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".doctors.NewDoctorsList"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".utils.helpers.classes.FilterLocationActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".details.doctors.DoctorDetails"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".details.doctors.DoctorDetailsNew"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".details.doctors.DoctorProfileActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".details.doctors.reviews.DoctorReviews"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".details.doctors.map.MapDetails"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".details.doctors.images.ClinicGalleryActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- REVIEWS -->
        <activity
            android:name=".creator.review.ReviewCreator"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".creator.review.ReviewClinicSelector"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".modifier.review.ReviewModifier"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- APPOINTMENTS -->
        <activity
            android:name=".creator.appointment.AppointmentSlotCreator"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".creator.appointment.AppointmentDetailsCreator"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".creator.appointment.AppointmentClinicSelector"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".details.appointments.AppointmentDetails"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- ADOPTIONS -->
        <activity
            android:name=".adoptions.AdoptionsList"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".details.adoptions.AdoptionDetails"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".details.adoptions.TestAdoptionDetails"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- FILTER ADOPTIONS -->
        <activity
            android:name=".utils.helpers.classes.FilterAdoptionsActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- TRAINERS -->
        <activity
            android:name=".trainers.TrainersList"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".details.trainers.TrainerDetails"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- TRAINING ENQUIRY -->
        <activity
            android:name=".details.trainers.enquiry.TrainerEnquiryActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- KENNELS -->
        <activity
            android:name=".kennels.KennelsList"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".kennels.NewKennelsList"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".details.kennels.KennelDetails"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- KENNEL REVIEWS -->
        <activity
            android:name=".details.kennels.reviews.KennelReviewsActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".details.kennels.reviews.KennelReviewCreator"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".modifier.kennel.KennelReviewModifier"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- COUNTRY, STATE, CITY, LOCALITY SELECTOR ACTIVITIES -->
        <activity
            android:name=".utils.helpers.classes.location.CountrySelectorActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".utils.helpers.classes.location.StateSelectorActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".utils.helpers.classes.location.CitySelectorActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- -->
        <activity
            android:name=".utils.helpers.settings.SettingsActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- FOR THE FACEBOOK SDK (LOGIN) -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- GOOGLE MAPS -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- PRELOADED FONTS -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!-- RAZOR PAY -->
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="@string/razor_pay_api_key_id" />

        <!-- FIREBASE CLOUD MESSAGING -->
        <service android:name=".utils.services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--<service android:name=".utils.services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>-->
        <!--<service
            android:name=".utils.services.MyJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>-->

        <!-- SET THE NOTIFICATION ICON -->
        <!--<meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/zen_pets_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/primary" />-->
    </application>
</manifest>