<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.zenpets.doctors">

    <permission
        android:name="co.zenpets.doctors.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="co.zenpets.doctors.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--android:roundIcon="@mipmap/ic_launcher_round"-->
    <application
        android:name=".utils.AppPrefs"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/ZenPets"
        tools:replace="android:allowBackup, android:supportsRtl">
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity
            android:name=".TestActivity"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->

        <!-- CREDENTIALS -->
        <activity
            android:name=".credentials.LoginActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Splash"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".credentials.SignUpActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".credentials.ForgotPassword"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".credentials.ClaimProfileList"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".credentials.ClaimProfileActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".credentials.ClaimProfileStatus"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".credentials.ClaimSignUpActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- LEGAL -->
        <activity
            android:name=".utils.legal.PrivacyPolicyActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".utils.legal.NewPrivacyPolicyActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".utils.legal.SellerAgreementActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- LANDING -->
        <activity
            android:name=".landing.LandingActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- DOCTOR MODULES -->
        <activity
            android:name=".creator.doctor.EducationCreator"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- CLINIC -->
        <activity
            android:name=".details.clinic.ClinicDetails"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".creator.clinic.InitialClinicCreator"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".creator.clinic.ClinicCreator"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".creator.clinic.images.ClinicImagesManager"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".creator.clinic.ClinicSearch"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".creator.clinic.SearchClinicDetails"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".modifier.clinic.ClinicLogoUpdater"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".modifier.clinic.ClinicModifier"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- CALENDAR -->
        <activity
            android:name=".calendar.CalendarActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- CONSULTATIONS -->
        <activity
            android:name=".details.consultation.ConsultationDetails"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".utils.helpers.classes.FilterConsultationsActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- APPOINTMENTS -->
        <activity
            android:name=".creator.appointment.AppointmentSlotCreator"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".creator.appointment.AppointmentClientSelector"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".creator.appointment.AppointmentDetailsCreator"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".details.appointment.AppointmentDetails"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- CLIENTS -->
        <activity
            android:name=".details.client.ClientDetails"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- TIMINGS PICKER -->
        <activity
            android:name=".utils.helpers.classes.TimingsPickerActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- LOCATION PICKER -->
        <activity
            android:name=".utils.helpers.classes.LocationPickerActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- COMPLETER'S -->
        <activity
            android:name=".completer.EducationCompleter"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".completer.ServiceCompleter"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".completer.SpecializationCompleter"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".completer.TimingsCompleter"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- PROFILE MODIFIER -->
        <activity
            android:name=".modifier.profile.ProfileModifier"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".modifier.doctor.DisplayProfileModifier"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".modifier.profile.EducationModifier"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".modifier.profile.TimingsModifier"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- COUNTRY, STATE, CITY, LOCALITY SELECTOR ACTIVITIES -->
        <activity
            android:name=".utils.helpers.classes.location.CountrySelectorActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".utils.helpers.classes.location.StateSelectorActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".utils.helpers.classes.location.CitySelectorActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- GOOGLE MAPS -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- FIREBASE CLOUD MESSAGING -->
        <service
            android:name=".utils.services.NewFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!-- FIREBASE CLOUD MESSAGING -->
        <!--<service android:name=".utils.services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".utils.services.MyJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>-->
    </application>
</manifest>