# GRADLE FILES
.gradle/
build/

#built application files
*.apk
*.ap_

# RELEASE FILES
release/

# KEYSTORE FILES
*.jks

# IGNORE THE KEY STORE PROPERTIES FILE
keystore.properties

# GOOGLE SERVICES (e.g. APIs or Firebase)
google-services.json

# Intellij
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/libraries